<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLKaraoke.Properties.Settings.QLKaraokeConnectionString"
            connectionString="Data Source=DESKTOP-DHEVR0L\SQLEXPRESS;Initial Catalog=QLKaraoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLKaraoke.Properties.Settings.QLKaraokeConnectionString1"
            connectionString="Data Source=THINH;Initial Catalog=QLKaraoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>